/* ===== PRICING ===== */

/* ==========index===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    width: 130px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #555;
}

.nav-links li:hover {
    color: #387ed1;
    cursor: pointer;
}

/* s */
.charges-section {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}

.charges-section h1 {
    text-align: center;
    font-size: 2rem;
    color: #1a73e8;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
    font-size: 1rem;
}

.charge-card {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.charge-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.charge-card h2 {
    color: #1a73e8;
    margin-bottom: 12px;
    font-size: 1.3rem;
}