/* About */

/* ==========index===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    width: 130px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #555;
}

.nav-links li:hover {
    color: #387ed1;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #fafafa;
    padding: 60px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

footer p {
    color: #666;
    margin-top: 6px;
}

footer h4 {
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media(max-width:900px) {

    .trust,
    .pricing,
    .education {
        flex-direction: column;
        text-align: center;
    }

    .pricing-right {
        flex-direction: column;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:600px) {
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}