/* ===== SUPPORT ===== */

/* ==========index===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    width: 130px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #555;
}

.nav-links li:hover {
    color: #387ed1;
    cursor: pointer;
}

/* d */
.support-portal {
    max-width: 700px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.support-portal h1 {
    color: #1a73e8;
    font-size: 2rem;
    margin-bottom: 30px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tickets-btn {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.tickets-btn:hover {
    background-color: #1666c1;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.search-bar button {
    padding: 12px 20px;
    border: none;
    background-color: #1a73e8;
    color: #fff;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #1666c1;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .navbar nav a {
        margin-left: 10px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .zerodha-products {
        margin: 40px 15px;
    }
}