/* ===== PRODUCTS ===== */

/* ==========index===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid #eee;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    width: 130px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #555;
}

.nav-links li:hover {
    color: #387ed1;
    cursor: pointer;
}

/* s */
.zerodha-products {
    background: linear-gradient(135deg, #1a73e8, #4285f4);
    color: #fff;
    padding: 80px 40px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 60px auto;
}

.zerodha-products h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.zerodha-products p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    background-color: #fff;
    color: #1a73e8;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #e0e0e0;
    transform: translate(-3px);
}